<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Node js Handlebars</title>

            <script type="text/javascript" src="/public/lib/fabric.js"></script>
            <script type="text/javascript" src="/public/lib/line_intersection.js"></script>
            <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

            <link rel="stylesheet" type="text/css" href="/public/css/main.css">
            <link rel="stylesheet" type="text/css" href="/public/css/browser.css">

    </head>

    <body>
            {{{body}}}
    </body>

</html>
