body
{
background-color: #606060;

}


.main_view{
  display: flex;

  
  border: 0px solid;

}




#navigator{
  display: flex;
  flex-direction: row ;
  background-color: #a1a1a1;
  height: 50px;
  border: 0px solid;
  z-index: 3;
  margin-top: 4px;
  overflow:auto;
  bottom: 0;
  /*box-shadow: 0px 0px 30px 0px #000000;*/

}







.navi_folder{
    display: flex;
    margin: 1px;
    font-size :11px;
    font-weight: bold;
    border-radius: 6px;
    margin: 1px;
    justify-content: center;
    align-items: center;

    background-color: #88c6eb;
    flex: 1 0 10px;
}
