



<div class="main_view">
    <div id="main_browser" class="main_browser">
        <div id="browser_type" class="browser_type">
            <div id="type_wp" class="type_wp">Work Space</div>
            <div id="type_navi" class="type_navi">Navigator</div>
        </div>
        <div id="file_browser" class="file_browser"></div>
        <div id="navi_browser" class="navi_browser"></div>
    </div>
    <canvas id="canvas" width="1200" height="800" style="border:0px solid #adadad"></canvas>
    <div id="right_browser" class="right_browser">
        <div id="i_type" class="i_type">
            <div id="type_parm" class="type_parm">Parameters</div>
            <div id="type_iter" class="type_iter">Iterator</div>
        </div>
        <div id="iterator" class="iterator"></div>
        <div id="i_type" class="i_type">
            <div id="it_start_in_btn" class="it_start_btn"> >>Start </div>
            <div id="it_start_sel_btn" class="it_start_btn"> Start Select </div>
            <div id="it_start_out_btn" class="it_start_btn"> Start>> </div>
        </div>
    </div>
</div>

<div id="navigator" class="navigator"></div>



<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Create"><i class="fa fa-eye"></i> Create Data Box</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Nuke"><i class="fa fa-edit"></i> Nuke Style copy</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Houdini"><i class="fa fa-times"></i> Houdini Style copy</a>
        </li>
    </ul>
</nav>




<script type="text/javascript" src="/public/scr/navigator/navigator_column.js"></script>
<script type="text/javascript" src="/public/scr/navigator/navigator.js"></script>
<script type="text/javascript" src="/public/scr/navigator/navigator_core.js"></script>
<script type="text/javascript" src="/public/scr/main_page.js"></script>
<script type="text/javascript" src="/public/scr/browser/browser.js"></script>
<script type="text/javascript" src="/public/scr/node_viewer/dnk_monitor.js"></script>
<script type="text/javascript" src="/public/scr/node_viewer/dnk_nodes.js"></script>
<script type="text/javascript" src="/public/scr/iterator/iterator.js"></script>
<script type="text/javascript" src="/public/scr/iterator/iterator_core.js"></script>