


  <div id="base_modal" class="modal">
    <div id="modal_content" class="modal_content">
      <span class="close_modal_window"></span>

    </div>
  </div>



<div id="main_menu" class="main_menu">
    <div  id="user_mode" class="main_menu_btn" class="main_menu_btn"> <img src="/public/icons/main_menu/person_black_24dp.svg"> </div>
    <div   id="add_doit" class="main_menu_btn" class="main_menu_btn"> <img src="/public/icons/main_menu/add_black_24dp.svg"> </div>
    <div   id="delete_doit" class="main_menu_btn" class="main_menu_btn"> <img src="/public/icons/main_menu/delete_black_24dp.svg"> </div>
    <div   id="save_graph" class="main_menu_btn" class="main_menu_btn"> <img src="/public/icons/main_menu/save_black_24dp.svg"> </div>
    <div id="sign_in" class="sign_in">
        <div id="sign_in_btr" class="sign_in_btn">Sign In</div>
        <div id="super_level" class="super_level">0</div>
    </div>
</div>





<div class="main_view">

    <div id="main_browser" class="main_browser">
        <div id="browser_type" class="browser_type">
            <div id="type_wp" class="type_wp">Work Space</div>
            <div id="type_navi" class="type_navi">Navigator</div>
        </div>
        <div id="file_browser" class="file_browser"></div>
        <div id="navi_browser" class="navi_browser">
            <div id="navi_button" class="navi_browser">
                <div id="ctx_sheets" class="navi_button"> <img src="/public/icons/navigator/cells.png"> </div>
            </div>
        </div>
    </div>
    <canvas id="canvas" width="1200" height="800" style="border:0px solid #adadad"></canvas>
    <div id="right_browser" class="right_browser">
        <div id="i_type" class="i_type">
            <div id="type_parm" class="type_parm">Parameters</div>
            <div id="type_iter" class="type_iter">Iterator</div>
        </div>
        <div id="iterator" class="iterator"></div>
        <div id="i_type" class="i_type">
            <div id="it_start_in_btn" class="it_start_btn"> >>Start </div>
            <div id="it_start_sel_btn" class="it_start_btn"> Start Select </div>
            <div id="it_start_out_btn" class="it_start_btn"> Start>> </div>
        </div>
    </div>

</div>

<div id="navigator" class="navigator"></div>



<nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Create"><i class="fa fa-eye"></i> Create Data Box</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Nuke"><i class="fa fa-edit"></i> Nuke Style copy</a>
        </li>
        <li class="context-menu__item">
            <a href="#" class="context-menu__link" data-action="Houdini"><i class="fa fa-times"></i> Houdini Style copy</a>
        </li>
    </ul>
</nav>


<script type="text/javascript" src="/public/scr/modal_dialogs/add_doit_modal.js"></script>
<script type="text/javascript" src="/public/scr/main_menu/main_menu_buttons.js"></script>
<script type="text/javascript" src="/public/scr/modal_dialogs/login_modal.js"></script>
<script type="text/javascript" src="/public/scr/navigator/navigator_column.js"></script>
<script type="text/javascript" src="/public/scr/navigator/navigator.js"></script>
<script type="text/javascript" src="/public/scr/navigator/navigator_core.js"></script>
<script type="text/javascript" src="/public/scr/main_page.js"></script>
<script type="text/javascript" src="/public/scr/browser/browser.js"></script>
<script type="text/javascript" src="/public/scr/node_viewer/dnk_monitor.js"></script>
<script type="text/javascript" src="/public/scr/node_viewer/dnk_nodes.js"></script>
<script type="text/javascript" src="/public/scr/iterator/iterator.js"></script>
<script type="text/javascript" src="/public/scr/iterator/iterator_core.js"></script>
